Flask==0.12.2
google-api-python-client==1.6.5
Google-Search-API==1.1.13
happybase==1.1.0
httplib2==0.10.3
nltk==3.2.4
numpy==1.21.0
pandas==0.20.3
pbr==3.1.1
pexpect==4.2.1
Pillow==4.2.1
plotly==2.0.14
ply==3.10
prettytable==0.7.2
progressbar2==3.34.3
ptyprocess==0.5.2
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycurl==7.19.3
pygobject==3.12.0
pymongo==3.4.0
pyOpenSSL==17.2.0
pyp==2.12
pyparsing==2.2.0
python-linkedin==4.1
python-utils==2.2.0
PyYAML==3.12
regex==2017.9.23
Unidecode==0.4.21
urllib3==1.22
