<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>Automated Intent Detection</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Cache-control" content="no-cache">
	<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap-filestyle.min.js"></script>
    
-->	
<style type="text/css">
	#fileupload{
    margin: 1em auto;
  width: 500px;
  height: 200px;
  border: 4px dashed #484848;
}
#fileupload p{
 position:relative;
  text-align: center;
    bottom: 105px;
  color: #484848;
  font-family: Arial;
}
#fileupload input{
 /* position: absolute;*/
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
</style>


<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css') }}" />
<!--		<style type="text/css">
			input[type=text] {
				height:34px;
			}
		</style>

--></head>

<body>

	<!-- Header -->
	<!--	<header id="header">
				<h1><strong><a href="index.html">Spatial</a></strong> by Templated</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>
			-->
	<header id="header" class="alter">
		<a href="/"><img style=" padding-top: 10px;padding-left: 10px;height:120px; width:130px;" src="{{ url_for('static',filename='images/Cognizant_White.png') }}" /></a>

		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li id="TheDate" style="color:#ddd;"></li>
			</ul>
		</nav>
	</header>

	<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

	<!-- Main -->
	<section id="main" class="wrapper">
		<div class="container">
			<div style="text-align:center;">
				<header class="major special">
					<h2>Automated Intent Detection</h2>
				<p>	<h5>Please Upload your Chatlog files in .tsv/.csv format</h5> </p>
				</header>
			</div>
			<section>
			  <form ref='uploadForm'
            		id='uploadForm'
            		action='/upload'
            		method='post'
            		encType="multipart/form-data" class="form-group">
				<div class="row uniform 50%">
								
<!--					<div id="my_photo_booth" class="12u$" style="text-align:center;" >
-->								
						<div class="12u$" style="text-align:center;">
								
								<div  id="fileupload" style="text-align:center;">
 										<input type="file" accept=".txt,.csv,.tsv" name="file"  multiple>
 										 <p>Drag your files here or click in this area to upload.</p>
 								</div>
 								</div>
 									<div class="4u 12u$(xsmall)">
										<label>Header Present (Yes/No) </label>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="header-yes" name="header">
										<label for="header-yes">Yes</label>
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="header-no" name="header">
										<label for="header-no">No</label>
									</div>
						
 									<!--<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
 			-->	
 			
 			
 			
 			<div class="12u$" style="text-align:center">
						<ul class="actions">
							<li><input type="submit" value="Submit" class="special" /></li>
							<!--change button to submit if you post the photo . If with javascript then using button-->
							<li><input type="reset" value="Reset" /></li>
							<!--show if person not detected-->
						</ul>
					</div>

					
				</div>
				</form>
		
		
		
		</section>
		</div>
	</section>

	<!-- Footer -->
	<!--			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
-->
	<!-- Scripts -->
	<!-- First, include the Webcam.js JavaScript Library -->
<!--	<script type="text/javascript" src="assets/js/webcam.min.js"></script>
	<script type="text/javascript" src="assets/js/camopen.js"></script>
	<script type="text/javascript" src="assets/js/webcamfunctions.js"></script>

-->
	<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
	<script type="text/javascript" >
	
	$(document).ready(function(){
  
	 $('#fileupload input').change(function () {
    $('#fileupload p').html(this.files.length + " file(s) selected</br>");
  /*  $.each(this.files,function(intIndex,objValue){
    	    $('#fileupload p').append(objValue.name + "</br>");

    	
    	
    });*/
  });
});
</script>
</body>

</html>
