<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Persona Analytics</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<style type="text/css">
		    #smile {
    width: 145px;
    height: 147px;
    background: url(images/lineart_smileys.png) -164px 0;
}
		</style>
	</head>
	<body>

		<!-- Header -->
		<!--	<header id="header">
				<h1><strong><a href="index.html">Spatial</a></strong> by Templated</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
					</ul>
				</nav>
			</header>
			-->
			<header id="header"  class="alter" >
				<a href="index.html"><img style=" padding-top: 10px;padding-left: 10px;height:120px; width:130px;" src="images/Cognizant_White.png" /></a>
				
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="identify.html">Login</a></li>
						<li><a href="registeration.html">Register</a></li>
						<li id="TheDate" style="color:#ddd;"></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container" >
                    <div style="text-align:center;">
					<header class="major special" >
						<h2>Persona Analytics</h2>
						<p>Welcome Person's Name</p>
					</header>
                    </div>
						<!--	<form method="post" action="#">
					-->			<div class="row uniform 50%">
					    <div class="12u$" style="text-align:center;">
								
                                 <div class="image rounded">
                                     <img src="images/pic04.jpg" alt=""></div>
                        </div>
                        	<div class="12u$" style="text-align:center;">
                            <h4>Your Mood:happy</h4>
							</div>
							<div class="12u$">
							    <div id="smile" style="text-align:center; margin: 0 auto;"  ></div>
							</div>
                       
                        <div class="12u$" style="text-align:center;">
								
                            <div class="table-wrapper">
								<table>
								    <caption><h4><u>About You</u></h4></caption>
									<thead>
									</thead>
									<tbody>
										<tr>
											<td><h5>age</h5></td>
											<td><h5 class="hc">42.5</h5></td>
										</tr>
										<tr>
												<td><h5>gender</h5></td>
											<td><h5 class="hc">male</h5></td>
										</tr>
										<tr>
											<td><h5>glasses</h5></td>
											<td><h5 class="hc">Reading Glasses</h5></td>
										</tr>
									</tbody>
								</table>
							</div>
                        </div>
                         <div class="12u$" style="text-align:center;">
								
                            <h4 class="hc">Your are authorized to access the Dashboard -<a href="">QlikView</a></h4>
                            
                        </div>
                        
								<!--	<div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Name" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="email" id="email" value="" placeholder="Designation" />
									</div>
									<div class="6u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Organisation" />
									</div>
									<div class="6u$ 12u$(xsmall)">
										<input type="email" name="email" id="email" value="" placeholder="Email" />
									</div>
							-->	<!--	<div class="12u$" style="text-align:center;">
									<div id="my_camera">
     <div class="image rounded"><img src="images/pic04.jpg" alt=""></div>
                                    </div>
										</div>
										-->
								<!--	<div class="4u 12u$(xsmall)">
										<div id="results" ></div>
										
									</div>
									<div class="4u 12u$(xsmall)">
											<div id="my_camera">
     
                                    </div>
									</div>
									<div class="4u$ 12u$(xsmall)">
									<ul class="actions" style="padding-bottom: 0.5em;padding-top:0.5em;">
											<li><input type="button" value="Take A Snapshot" class="special" onClick="take_snapshot()"/></li>
											<li><input type="button" value="Reset" /></li>
										</ul>
									</div>
									
								-->		
								
						<!--			<div class="3u 12u$(xsmall)">
										<div id="results" ></div>
										<ul class="actions" style="padding-bottom: 0.5em;padding-top:0.5em;">
											<li><input type="button" value="Take A Snapshot" class="special" onClick="take_snapshot()"/></li>
											<li><input type="button" value="Reset" /></li>
										</ul>
									</div>
									<div class="3u 12u$(xsmall)">
											<div id="results" ></div>
										<ul class="actions" style="padding-bottom: 0.5em;padding-top:0.5em;">
											<li><input type="button" value="Take A Snapshot" class="special" onClick="take_snapshot()"/></li>
											<li><input type="button" value="Reset" /></li>
										</ul></div>
									<div class="3u 12u$(xsmall)">
										<div id="results" ></div>
										<ul class="actions" style="padding-bottom: 0.5em;padding-top:0.5em;">
											<li><input type="button" value="Take A Snapshot" class="special" onClick="take_snapshot()" /></li>
											<li><input type="button" value="Reset" /></li>
										</ul>
									</div>
									<div class="3u$ 12u$(xsmall)">
										<div id="results" ></div>
										<ul class="actions" style="padding-bottom: 0.5em;padding-top:0.5em;">
											<li><input type="button" value="Take A Snapshot" class="special" onClick="take_snapshot()" /></li>
											<li><input type="button" value="Reset" /></li>
										</ul>
									</div>
						-->		<!--	<div class="12u$" style="text-align:center">
										<ul class="actions">
											<li><input type="submit" value="Submit" class="special" onClick="take_snapshot()"/></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								-->	
								<!--	<div class="12u$">
										<div class="select-wrapper">
											<select name="category" id="category">
												<option value="">- Category -</option>
												<option value="1">Manufacturing</option>
												<option value="1">Shipping</option>
												<option value="1">Administration</option>
												<option value="1">Human Resources</option>
											</select>
										</div>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="priority-low" name="priority" checked>
										<label for="priority-low">Low Priority</label>
									</div>
									<div class="4u 12u$(xsmall)">
										<input type="radio" id="priority-normal" name="priority">
										<label for="priority-normal">Normal Priority</label>
									</div>
									<div class="4u$ 12u$(xsmall)">
										<input type="radio" id="priority-high" name="priority">
										<label for="priority-high">High Priority</label>
									</div>
									<div class="6u 12u$(small)">
										<input type="checkbox" id="copy" name="copy">
										<label for="copy">Email me a copy of this message</label>
									</div>
									<div class="6u$ 12u$(small)">
										<input type="checkbox" id="human" name="human" checked>
										<label for="human">I am a human and not a robot</label>
									</div>
									<div class="12u$">
										<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
									</div>
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>-->
								</div>
					<!--		</form>
-->
				<!--	<a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
					<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet blandit adipiscing arcu ante.</p>-->

				</div>
			</section>

		<!-- Footer -->
<!--			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>
-->
		<!-- Scripts -->
		<!-- First, include the Webcam.js JavaScript Library -->
			<script type="text/javascript" src="assets/js/webcam.min.js"></script>
			<script type="text/javascript" src="assets/js/camopen.js"></script>
			<script type="text/javascript" src="assets/js/snapshot.js"></script>

	
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script type="text/javascript" src="assets/js/custom.js"></script>
		</body>
</html>